/* Cores do projeto
#E6f5f5 - Fundo da página;
#674525 - Fontes;
#e69a6e - Background do hover;
#e7b547; - span do título; */


body{
max-height: 100vh;
background-color:#E6f5f5;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: auto;       
    width: 100%;
    height: 92vh;
      
}

.btns{
    display: flex;
    justify-content: center;
    gap:1em;
    height:3em;
}

.bg-navbar{
    background-color:  #E6f5f5
   
}

.logo-text{
    color: #674525;
    margin: 0;
    font-size: 2rem;
    
}

.btn{
    background-color: #674525;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    
   
}

.btn:hover{
    background-color:  #e7b547;
    color:  white;
    
    
}

.title-text{
    color:#674525;
    font-size: 6em;
    text-align: center;
}

.title-text span{
    color: #e7b547;
}

.text{
    text-align: center;
    font-size: 2em;
    width: 80%;
    margin: 2rem auto;
    line-height: 1.2;
    color: #674525;
}

.navbar-brand{
    display: flex;
    align-items: center;
    
    
}

.btn2{
    background-color: #674525;
    color: #E6f5f5;
    font-weight: bold;
    font-size:1rem;
    padding: .375rem .75rem;
    border-radius: .375rem;
    text-decoration: none;    
}

.cadastro-container h1 {
    text-align: center;
}

.text-container{
    justify-content: center;
    height: 100%;    
}

.dropdown-menu{
    background-color: #E6f5f5 ;
}

.dropdown-item{
    font-weight: bold;
    color:#674525;
}

.dropdown-item:hover{
    background-color: #e7b547;
    color:white;
}

